AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_REGION=YOUR_AWS_REGION
TOPIC_ARN=YOUR_TOPIC_ARN
SES_FROM_EMAIL=your-verified-sender@example.com
SES_TO_EMAIL=recipient@example.com
GOOGLE_PLACES_API_KEY=your_google_places_api_key_here
FORK_COUNT=1